.newtask__submit {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 0;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 0 10px 10px 0;
}

.newtask__submit:hover {
  background-color: #222;
}

.newtask__submit:active {
  background-color: #111;
}