$color-background-1: #000;
$color-background-2: #555;
$color-background-3: #222;
$color-background-4: #111;
$color-background-5: #022;
$color-background-6: #444;

$color-text-1: #fff;

$color-button-2: #a22;

$color-button-hover-2: #d22;

$color-button-active-2: #b22;

$color-additional-1: #4f0;
$color-additional-2: #0f0;
$color-additional-3: #0a0;
