$font-family-default: "Inter", sans-serif;

$font-size-text: 1.6rem;
$font-size-text-s: 1.4rem;
$font-size-text-xs: 1.2rem;
$font-size-heading: 2rem;
$font-size-heading-s: 1.8rem;

$font-line-height-text: 1.2;
$font-line-height-heading: 1;
