@import "../../styles/index.scss";

.task_list {
  position: relative;
  margin: 30px auto 0;
  list-style: none;
  padding: 0;
  width: 100%;
  min-height: 320px;
  box-shadow: 0 0 5px $color-text-1;
  border-radius: 10px;
  background-color: $color-background-5;
}

.tip_empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
