html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-1;
  background-color: $color-background-1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
button {
  @extend %indents-reset;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
