@import "../../styles/index.scss";

.app {
  width: 100%;
  margin: 0 auto;

  @include use-default-font();
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 880px;
  min-height: 400px;
  height: calc(100vh - 140px);
  margin: 20px auto;
  padding: 15px;
  background-color: $color-background-3;
  border: 4px solid $color-background-3;
  border-radius: 15px;
  box-shadow: 0 0 20px $color-text-1;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    width: 96%;
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    height: calc(100vh - 170px);
  }

  @media screen and (max-width: calc($screen-width-mobile - 1px)) {
    min-height: 10px;
    height: calc(100vh - 200px);
  }
}
