.newtask__input {
  color: #FFF;
  box-sizing: border-box;
  padding: 2px 30% 2px 15px;
  margin: 0 auto;
  width: inherit;
  height: 100%;
  border-radius: 10px;
  background-color: #555;
  border: none;
}

.newtask__input::placeholder {
  color: #DDD;
}

.newtask__input:focus {
  outline: none;
  box-shadow: 0 0 5px #4F0;
}